@use 'mixins/color-scheme' as color-scheme;

:host {
    display: block;
    flex: 1;

    div.skeleton {
        background-color: color-mix(in srgb, var(--mat-sys-surface-dim) 100%, transparent);
        border-radius: var(--mat-sys-corner-full);
        display: block;
        min-height: 1rem;
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            animation: skeleton-animation 1.2s infinite;
            background: linear-gradient(90deg,
                    transparent,
                    rgba(255, 255, 255, 0.5),
                    transparent);
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(-100%);
            z-index: 1;
        }
    }
}

@include color-scheme.apply-color-scheme-styles('dark') {
    :host div.skeleton::after {
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.05), transparent);
    }
};

@keyframes skeleton-animation {
    0% {
        transform: translate(-100%);
    }

    to {
        transform: translate(100%);
    }
}

:host-context([shape='circle']) {
    div.skeleton {
        border-radius: 50%;
    }
}

:host-context([under='primary']) {
    div.skeleton {
        background-color: rgba(255, 255, 255, 0.15);

        &::after {
            background-color: rgba(0, 0, 0, 0);
            background-image: linear-gradient(90deg, transparent, var(--sys-primary), transparent);
        }
    }
}