@use '@angular/material' as mat;
@use 'mixins/color-scheme' as color-scheme;

@include color-scheme.apply-color-scheme-styles('light') {
    @include mat.theme((
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
            use-system-variables: true
        )
    ));
}

@include color-scheme.apply-color-scheme-styles('dark') {
    @include mat.theme((
        color: (
            theme-type: dark,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
            use-system-variables: true
        )
    ));
}

html {
    background-color: inherit; // Evita flash branco quando alternar temas em certas plataformas
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--mat-app-background-color, var(--mat-sys-surface));
    color: var(--mat-app-text-color, var(--mat-sys-on-surface));
    color-scheme: light dark;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: background-color 0.25s ease, color 0.25s ease;
}
