:root {
    --success-status: #4caf50;
    --warning-status: #ebb019;
    --error-status: #c70a1d;
    --info-status: #36a3f7;
}

.success-status-color {
    color: var(--success-status);
}
.success-status {
    background-color: var(--success-status);
    color: white;
}

.warning-status-color {
    color: var(--warning-status);
}
.warning-status {
    background-color: var(--warning-status);
    color: var(--mat-sys-neutral-variant20);
}

.error-status-color {
    color: var(--error-status);
}
.error-status {
    background-color: var(--error-status);
    color: white;
}

.info-status-color {
    color: var(--info-status);
}
.info-status {
    background-color: var(--info-status);
    color: white;
}

.purple-status-color {
    color: var(--purple-status);
}
.purple-status {
    background-color: var(--purple-status);
    color: white;
}

.pending-status-color {
    color: var(--pending-status);
}
.pending-status {
    background-color: var(--pending-status);
    color: var(--mat-sys-neutral-variant20);
}

.grey-status-color {
    color: var(--grey-status);
}
.grey-status {
    background-color: var(--grey-status);
    color: var(--mat-sys-neutral-variant20);
}
